# bundler
/.bundle

# data
public/data/**/input.txt

# debugging
.byebug_history

# encryption
/config/master.key

# environments
/.env

# logs
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# storage
/storage/*
!/storage/.keep